[submodule "cordova-android"]
	path = cordova-android
	url = git@github.com:monaca/cordova-android.git
[submodule "MonacaSandbox/assets/www/test"]
	path = MonacaSandbox/assets/www/test
	url = git@github.com:monaca/cordova-mobile-spec.git