[submodule "cordova-android"]
	path = cordova-android
	url = ssh://git@gitlab.asial.biz:2222/cordova-android.git
[submodule "MonacaSandbox/assets/www/test"]
	path = MonacaSandbox/assets/www/test
	url = https://github.com/monaca/cordova-mobile-spec.git

