
build
MonacaFramework/bin
MonacaFramework/gen
MonacaFramework/tmp

# Can ignore specific files
.DS_Store
*jarlist.cache
*.class

# template project
MonacaTemplateEngine/gen/
MonacaTemplateEngineTest/gen/

# Library
BarcodeScannerLibrary/gen/
BarcodeScannerLibrary/bin/

# build
MonacaTemplateEngine/monaca_templating.[0-9]*.jar

