* {
  margin: 0;
  padding: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.invisible {
  display: none;
}

/* wrapper */
.wrapper {
  overflow: hidden;
}

/* header */
.header {
  background-image: url("../img/bg-header.png");
  -webkit-background-size: 100% 98px;
  background-size: 100% 98px;
  height: 98px;
  width: 100%;
  position: absolute;
  text-align: center;
}

.header h1 {
  font-size: 42px;
  color: #fff;
  margin: 24px auto;
}

.header a.btn-left {
  -webkit-border-radius: 2em;
  border-radius: 2em;
  top: 10px;
  left: 5px;
  position: absolute;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
  display: inline-block;
  text-align: center;
  margin: .5em 5px;
  padding: 0;
  text-decoration: none;
  border: 1px solid #111;
  background: #333;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #4F4F4F ), to( #2D2D2D ));
  background-image: -webkit-linear-gradient( #4F4F4F , #2D2D2D );
  background-image:         linear-gradient( #4F4F4F , #2D2D2D );
}

.header a.btn-left.active {
  border: 1px solid #2373a5;
  background: #5393c5;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px #145072;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 ), to( #6facd5 ));
  background-image: -webkit-linear-gradient( #5393c5 , #6facd5 );
  background-image:         linear-gradient( #5393c5 , #6facd5 );
}

.header .btn-inner {
  -webkit-border-radius: 2em;
  border-radius: 2em;
  font-size: 26px;
  padding: .55em 1.5em .5em;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  zoom: 1;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 1px solid #fff;
  border-color: rgba(255, 255, 255, .3);
}

/* main */
.main {
  background: url("../img/bg-blue.jpg") no-repeat;
  height: auto;
  margin: -1px 0 0 0;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

.main.top {
  background-size: 100% 710px;
  height: 710px;
}

.main.menu {
  background-size: 100% 390px;
  height: 390px;
}

.main.top h1 {
  background: url("../img/logo-monaca.png") no-repeat center;
  width: 276px;
  height: 275px;
  margin: 135px auto 0 auto;
  position: relative;
  -webkit-animation: 'frame-in' 3s ease-in-out;
}

@-webkit-keyframes 'frame-in' {
  0% {
    -webkit-transform: rotate(135deg) scale(0);
  }
  20% {
    -webkit-transform: rotate(135deg) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
  }
}

.main.top h2 {
  background: url("../img/title-welcome-monaca.png") no-repeat center;
  width: 292px;
  height: 109px;
  margin: 30px auto 0 auto;
  position: relative;
  -webkit-animation:
    zoom-in 3.5s ease-in-out,
    fade-in 4s ease-in;
}

@-webkit-keyframes 'zoom-in' {
  0% {
    -webkit-transform: scale(1.5) translate(0, 30px);
  }
  80% {
    -webkit-transform: scale(1.5) translate(0, 30px);
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes 'fade-in' {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main.menu h2 {
  background: url("../img/title-congratulations.png") no-repeat center;
  width: 529px;
  height: 225px;
  margin: 65px auto 0 auto;
}

/* content */

.content.menu {
  margin-top: 395px;
}

.content.menu a {
  width: 467px;
  height: 96px;
  margin: 10px auto 0 auto;
  padding-top: 10px;
  position: relative;
  display: block;
  z-index: 2;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  line-height: 96px;
  text-indent: 80px;
}

.content.menu a.menu-btn {
  background: url("../img/btn.png") no-repeat center;
}

.content.menu a.menu-btn.active {
  background: url("../img/btn-active.png") no-repeat center;
}

/* footer */
.topFooter {
  background-color: #ccc;
  z-index: 1;
  text-align: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top:750px;
}
.topFooter h4 {
  background: url("../img/logo-asial.png") no-repeat center;
  height: 35px;
}

.footer {
  background-color: #ccc;
  z-index: 1;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.footer.top {
  margin: -50px 0 0 0;
  /* height: 507px; */
}

.footer.menu {
  margin: -325px 0 0 0;
}

.footer h4 {
  background: url("../img/logo-asial.png") no-repeat center;
  width: 187px;
  height: 35px;
}

.footer.top h4 {
  margin: 130px auto 10px auto;
}

.footer.menu h4 {
  margin: 360px auto 10px auto;
}
.footer small {
  font-size: 14px;
  color: #6e716f;
}
